.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: var(--color-bg-base);
    border: 1px solid var(--color-border);
    user-select: none;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon+.title,
.title+.icon {
    margin-left: 8px;
}

.icon {
    display: flex;
    width: 20px;
    text-align: center;
    justify-content: center;
}

// Button types

.rounded {
    border-radius: 999px;
    box-shadow: var(--box-shadow-button);
    border-color: var(--color-border);

    &:hover {
        border-color: var(--color-border);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--color-btn-text-primary);
    /* Sử dụng màu chữ cho nút chính */
    background-color: var(--color-btn-primary);
    /* Sử dụng màu nền cho nút chính */
    border-color: var(--color-btn-primary);
    /* Sử dụng màu viền cho nút chính */

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--color-btn-primary);
        border-color: var(--color-btn-primary);
    }
}

.outline {
    color: var(--color-btn-text-outline);
    border-color: var(--color-btn-outline);
    background-color: transparent;

    &:hover {
        border-color: currentColor;
        background-color: var(--color-btn-outline-hover);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.colorRed {
    color: var(--color-btn-text-error);
    background: var(--color-btn-bg-error);
    border-color: #ffa39e;

    &:hover {
        background-color: #fdd8d6;
    }
}

// Button sizes

.verysmall {
    min-width: 60px;
    padding: 4px 10px;
    font-size: 12px;
    max-height: 25.5px;
}

.small {
    min-width: 88px;
    padding: 4px 16px;
    font-size: 14px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}