.container-title {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .label-title {}

    .title {
        display: flex;
        flex: 1 1 500px;
        text-wrap: pretty;
    }

    .title h2 {
        margin-right: 20px;
        font-size: 2.1vw;
    }


}

.container-info-detail {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

.container-description {
    margin-top: 30px;
    box-shadow: var(--box-shadow-1);
    border-radius: 17px;
    padding: 20px;
    font-size: 15px;

    h4 {
        color: var(--primary);
        margin-bottom: 10px;
    }
}

.status-detail {
    height: fit-content;
}

@media only screen and (max-width: 768px) {
    .status-detail {
        margin-top: 20px;

    }
}