.container-import {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .btnDownloadTemplate {
        margin-bottom: 20px;
    }
}