.wrapper {
    padding: 15px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .info {
        display: flex;
        margin-bottom: 30px;

        .title {
            margin-left: 15px;
            font-weight: 700;
            display: flex;
            align-items: center;
            max-width: 900px;
            line-height: 2;
        }

        .icon {
            display: flex;
            width: 30px;
            color: var(--primary);
        }
    }

    .wrapper-toolbar {
        display: flex;
    }

}


.content-wrapper {
    position: relative;
    margin-top: 10px; // Space for toolbar
}


.container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-item {
    display: grid;

    .btnDetail {
        margin-bottom: 5px;
    }
}