.container-follower {
    width: 60%;
    margin: 0 auto;
    background-color: var(--blue-100);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}