.wrapper {
    width: 20%;
    background-color: #272746;
    min-height: 563px;

    a {
        color: inherit;
    }

    a:hover,
    a:selected {
        color: #fff;
    }
}

.logo {
    border-radius: 999px;
    max-width: 100px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 30px;
    display: flex;
    transition: width 0.3s;
}

.logo-collapsed {
    width: 40px;
}

.logo-expanded {
    width: 100px;
}

.container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}