.wrapper {
    min-height: 563px;
    height: 100vh;
    position: sticky;
    inset-inline-start: 0;
    top: 0;
    bottom: 0;
    z-index: 999;

    a {
        color: inherit;
    }

    a:hover,
    a:selected {
        color: #fff;
    }

    :global .ant-layout-sider-children {
        overflow: overlay;
    }
}


.logo {
    border-radius: 999px;
    max-width: 100px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 30px;
    display: flex;
    transition: width 0.3s;
}

.logo-collapsed {
    width: 40px;
}

.logo-expanded {
    width: 100px;
}

.container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 768px) {
    .wrapper {
        position: fixed;
    }

    :global .ant-layout-sider-collapsed {
        min-height: 10px;
        height: 10px;
        top: unset;
        border-top-right-radius: 8px;

        .ant-layout-sider-children {
            display: none;
        }

        .ant-layout-sider-trigger {
            border-top-right-radius: 8px;
        }

    }

}