.container-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 40px 0 40px;
    height: 100%;
    /* Chiều cao đầy đủ để flex điều chỉnh đúng */
}