.key-creditHour {
    display: inline-block, ;
    width: 24px;
    line-height: 32px;
    text-align: center;
}

.import {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}