.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    // Nút đứng sau 1 nút => cách ra 1 khoảng
    // +.wrapper {
    //     margin-left: 8px;
    // }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon+.title,
.title+.icon {
    margin-left: 8px;
}

.icon {
    display: flex;
    width: 20px;
    text-align: center;
    justify-content: center;
}

// Button types

.rounded {
    border-radius: 999px; //Để số lớn => tự động bo tròn
    box-shadow: var(--box-shadow-button);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);


    }
}

// types primary được viết sau => ưu tiên hơn
.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #3465D4;
        border-color: var(--primary);
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor; //giống màu color

    &:hover {
        border-color: currentColor; //giống màu color
        background-color: rgba(254, 44, 85, 0.06);
    }

}

.text {
    &:hover {
        text-decoration: underline;
    }
}



//Button sizes
.verysmall {
    min-width: 60px;
    padding: 4px 10px;
    font-size: 12px;
    max-height: 25.5px;
}

.small {
    min-width: 88px;
    padding: 4px 16px;
    font-size: 14px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}