.container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-table {
    box-shadow: var(--box-shadow-1);
    border-radius: 17px;

    td,
    th {
        color: var(--color-text-base);
        background-color: var(--color-bg-popup);
    }
}

.radio-period {
    cursor: pointer;
}

.sticky {
    background-color: white; // Đảm bảo nền không bị lẫn với phần còn lại
    z-index: 2;
    border-right: 1px solid #ddd;
    position: sticky;
}