.container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-table {
    box-shadow: var(--box-shadow-1);
    border-radius: 17px;
}

.radio-period {
    cursor: pointer;
}

.action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .btnDetail {
        margin-bottom: 5px;
        width: fit-content;
        border-radius: 20px;
    }
}