.container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-table-score {
    box-shadow: var(--box-shadow-1);
    border-radius: 17px;

    td,
    th {
        color: var(--color-text-base);
        background-color: var(--color-bg-popup);
    }
}

.css-1ps6pg7-MuiPaper-root {
    background-color: var(--color-bg-popup);
}

.radio-period {
    cursor: pointer;
}

.action-item {
    display: grid;

    .btnDetail {
        margin-top: 5px;
    }
}

:global .ant-input-disabled.score-10 {
    color: var(--blue-900);
    background-color: floralwhite;
}

:global .ant-input.score-letter {
    color: var(--blue-900);
    font-weight: 500;
    background-color: var(--blue-50);
    border-color: var(--primary);
}

.wrapper-toolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}