.container-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .info {
        display: flex;
        margin-bottom: 30px;

        .title {
            margin-left: 15px;
            font-weight: 700;
            display: flex;
            align-items: center;
            max-width: 900px;
            line-height: 2;
            text-align: left;
        }

        .icon {
            display: flex;
            width: 30px;
            color: var(--primary);
        }
    }

    .wrapper-toolbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        >div {
            margin-bottom: 10px;
        }
    }

}

.stt {
    color: var(--primary);
}

.name {
    font-weight: 400;
    font-size: 17px;
    width: 80vw;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.container-deadline-register {
    font-style: italic;
    display: flex;
    width: max-content;
}

.item-description {
    margin-top: 5px;
}

.tag-status {
    margin-left: 10px;
}

.item-type {
    margin-right: 10px;
}