.container-title {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;

    h2 {
        margin-right: 20px;

    }

    .title-SR {
        flex: 1 1 500px;
        text-wrap: pretty;
    }
}

.container-info-detail {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

.container-description {
    margin: 30px 0;
    box-shadow: var(--box-shadow-3);
    border-radius: 17px;
    padding: 20px;
    font-size: 15px;
    width: 100%;
    min-height: 250px;
    white-space: pre-wrap;

    h4 {
        color: var(--primary);
        margin-bottom: 20px !important;
    }
}