.container-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.container-detail>div:first-child {
    width: 60%;
    margin-right: 50px;
}

.container-detail>div:nth-child(2) {
    width: 40%;

}

.container-description {
    margin: 30px auto;
    box-shadow: var(--box-shadow-3);
    border-radius: 17px;
    padding: 20px;
    font-size: 15px;
    width: 90%;
    min-height: 250px;


    h4 {
        color: var(--primary);
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .container-description {
        width: 74vw;
    }
}