.wrapper-notification {
    width: 450px;
}

.wrapper-notification a,
.wrapper-notification a:hover {
    color: black;
}

// POPPER

.container-popper {
    overflow-y: auto;

    .body {
        padding: 20px 20px 0 20px;
    }
}

// FILTER 
.container-title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    h4 {
        color: var(--text-gray-dark-color);
    }
}



.option {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 10;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    .btn-readAll {
        margin: 15px;
    }
}

// ITEM
.wrapper-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    transition: background-color ease 500ms;

    .container-info {
        margin-right: 20px;

        h4 {
            margin-bottom: 10px;
        }

        p {
            font-style: italic;
            color: var(--text-gray-dark-color);
            font-size: 13px;
        }
    }

}



.notRead {
    background-color: var(--red-100);
}

.no-noti {
    text-align: center;
    margin: 12px;
    font-style: italic;
}

.isRead:hover {
    background: aliceblue;
}

.notRead:hover {
    background: var(--red-200);
}