@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #3465D4;
    --primary-pastel: #6ba6e9;
    --blue-900: rgb(5, 63, 121);
    --blue-100: #b6cde5;
    --blue-50: rgb(217, 235, 251);
    --black: #000;
    --white: #fff;
    --text-gray-color: #e9e9e9;
    --text-gray-dark-color: #778aa2;
    --text-black-color: #000;
    --red-100: #fceeee;
    --red-200: #fee2e2;

    // BOX-SHADOW
    --box-shadow-1: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    --box-shadow-2: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    --box-shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --box-shadow-hover-button: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --box-shadow-button: 0 2px 8px rgb(0 0 0 / 6%);

    --font-family: 'Noto Sans', sans-serif;
    /* Default layout */
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-black-color);
    background-color: #F6F6F6;
    overflow-y: overlay;
    overflow-x: hidden;
}

text,
h2,
h3,
h4,
p {
    font-family: var(--font-family) !important;
}

/* Custom scrollbar */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, .06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    // color: var(--text-black-color);
    text-decoration: none;
}

span {
    font-weight: 450;
}

.container-loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom tippy */
/* body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 8px;
        line-height: 2.2rem;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^=bottom]>.tippy-arrow:before {
        top: -8px;
    }
} */
body {

    // Thay đổi thuộc tính của cell trong table mui
    .MuiTableCell-root {
        font-size: 1.2rem;

        &.title {
            font-weight: 600;
        }
    }

    //Thay đổi thuộc tính table mui
    .MuiTableContainer-root {
        border-radius: 17px;
    }

    .ant-layout-content {
        height: 100%;
    }

    .ant-space .ant-space-item:nth-child(2) {
        height: 100%;
    }

    .ant-menu .ant-menu-item {
        line-height: 2rem;
        white-space: normal;
        display: flex;
        align-items: center;
    }

    .ant-card-small>.ant-card-body {
        padding: 20px;
    }

    .ant-card-bordered {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap {
        justify-content: end;
    }

    .ant-list .ant-list-item .ant-list-item-meta {
        align-items: center;
    }

    .wrapper-thontinthuctap .ant-list .ant-list-item .ant-list-item-meta {
        align-items: normal;
    }

    .wrapper-diemtotnghiep {
        .ant-input-number-input {
            padding: 8px 12px;
            font-size: 1.5rem;
            width: 100px;
        }
    }

    .wrapper-info-detail {
        .ant-tag {
            font-size: 15px;
            line-height: 20px;
            align-items: center;
            display: flex;
            height: max-content;
            padding: 10px;
        }

    }

    .wrapper-DeTaiNCKHThamGia {
        .ant-list-item-meta-title {
            margin: 0;
        }

        .ant-list-item {
            text-align: center;
        }

        .ant-list-item-meta-title {
            font-weight: 400;
        }
    }

    //Devider 
    :where(.css-dev-only-do-not-override-17seli4).ant-divider-horizontal.ant-divider-with-text::before,
    :where(.css-dev-only-do-not-override-17seli4).ant-divider-horizontal.ant-divider-with-text::after {
        border-block-start-color: var(--blue-100);
    }

    :where(.css-dev-only-do-not-override-17seli4).ant-divider-horizontal {
        background-color: var(--blue-50);
        border-radius: 4px;
        padding: 5px 0;
    }

    .ant-divider-inner-text {
        font-weight: 500;
        color: var(--primary);
    }

    //NOTIFICATION
    .wrapper-notification {
        width: 400px;
        padding-bottom: 8px;

        .ant-divider-horizontal {
            margin: 2px 0;
        }
    }

    //SUPPORT
    .wrapper-support {
        width: 400px;
        height: 300px;

        .kqCcih {
            padding-right: 0;
        }

        .daFsOe {
            padding-right: 0;
        }

        .hdrmPI {
            padding-right: 0;
        }
    }

    // NOTE
    .dsVAmA {
        height: 480px;
    }

    .kqCcih {
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
    }

    // TREE
    .ant-tree-title {
        line-height: 5rem;
    }

    :where(.css-dev-only-do-not-override-17seli4).ant-tree .ant-tree-switcher {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    :where(.css-dev-only-do-not-override-17seli4).ant-tree .ant-tree-treenode {
        width: 100%;
    }

    :where(.css-dev-only-do-not-override-17seli4).ant-tree .ant-tree-node-content-wrapper {
        width: 100%;
    }

    .ant-tree-list {
        // background-color: var(--blue-50);
        border-radius: 16px;
    }

    :where(.css-dev-only-do-not-override-17seli4).ant-tree .ant-tree-checkbox {
        align-self: center;
    }

    // BUTTON
    :where(.css-dev-only-do-not-override-17seli4).ant-btn-lg.ant-btn-icon-only {
        margin-left: 15px;
        background-color: #3465D4;
    }

    // TABLE    
    .ant-table-body {
        min-height: 250px;
    }

    // MODAL
    .ant-modal-header {
        text-align: center;
    }

    .modal-add .ant-modal-body,
    .modal-register .ant-modal-body {
        margin: 50px 50px 0 50px;
    }

    .modal-detail .ant-modal-body {
        max-height: 600px;
        overflow-y: scroll;
    }

    .modal-list-topic .ant-modal-content {
        height: 90vh;
    }


    .ant-modal-footer {
        margin-top: 15px;
    }

    .modal-register .ant-space-item {
        width: 100%;
        display: contents;
    }


    // FORM ITEM
    :where(.css-dev-only-do-not-override-17seli4).ant-form-item .ant-form-item-label {
        width: 190px;
        margin-right: 10px;
        text-align: left;
    }

    :where(.css-dev-only-do-not-override-17seli4).ant-form-item .ant-form-item-label>label {
        height: fit-content;
    }

    .form-item-label {
        white-space: pre-wrap;
    }

    .ant-form-item-control {
        flex: 1;
    }

    // INPUT
    :where(.css-dev-only-do-not-override-17seli4).ant-input-number-outlined.ant-input-number-disabled {
        color: var(--black);
    }

    .ant-select-selection-item span {
        display: flex;
    }

    // TREE
    .ant-tree-draggable-icon {
        opacity: 1 !important;
    }

    :where(.css-dev-only-do-not-override-17seli4).ant-tree .ant-tree-treenode {
        align-items: center;
    }

    // DROPDOWN
    :where(.css-dev-only-do-not-override-17seli4).ant-dropdown .ant-dropdown-menu,
    :where(.css-dev-only-do-not-override-17seli4).ant-dropdown-menu-submenu .ant-dropdown-menu {
        max-height: 350px;
        overflow-y: auto;
    }
}