d.container-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.container-detail>div:first-child {
    width: 60%;
    margin-right: 50px;
}

.container-detail>div:nth-child(2) {
    width: 40%;

}

.container-description {
    margin: 30px 10px;
    box-shadow: var(--box-shadow-1);
    border-radius: 17px;
    padding: 20px;
    font-size: 15px;
    width: 700px;


    h4 {
        color: var(--primary);
        margin-bottom: 10px;
    }
}

.btn-cancel {
    color: red;
    z-index: 999;
}

.btn-approve {
    z-index: 999;
}

.list-register {
    height: 500px;
    overflow-y: scroll;
    padding: 5px 0;
}

@media only screen and (max-width: 768px) {
    :global .ant-list-item-action {
        display: grid;
        width: 100px;

        button {
            width: 100%;
        }

        .info-user {
            margin-bottom: 5px;
        }
    }
}