.title-column-table {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        margin-left: 15px;
    }
}

.container-stt {
    display: flex;
    justify-content: space-around;
    margin: 0 4px;
    width: 50%;
}