.title-column-table {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        margin-left: 15px;
    }
}

.container-featureId {
    display: flex;
    overflow: hidden;
    word-break: break-all;
}