.wrapper {
    background-color: white;
    width: 30%;
    border-radius: 30px;
    color: var(--primary);
    margin: 20px;
    padding: 15px 40px;
    box-shadow: var(--box-shadow-1)
}

.primary {
    background-color: var(--primary);
    color: var(--white);

    .icon {
        background-color: #779af3;
        color: var(--white);
    }
}

.icon {
    background-color: #F4F4F4;
    color: var(--primary);
    font-size: 35px;
    padding: 5px 10px;
    border-radius: 15px;
}

.title {
    margin: 20px 0 10px 0;
}

.content {
    font-size: 3.8rem;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 80%;
    }
}