.background {
    width: 100vw;
    position: absolute;
    z-index: -1;
}

.container-header {
    color: var(--white);
    justify-content: center;
    // align-items: center;

    h2 {
        text-align: center;
        padding-top: 20px;
    }

    .btnSubmit {
        display: flex;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.container-header-info {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;


    >div {
        width: 250px;
    }

    >div:nth-child(2) {
        margin-left: 100px;
    }

    .container-header-info-description {
        display: flex;
        justify-content: end;
        color: aliceblue;
        font-weight: lighter;

    }

}

.container-body {
    margin: 50px 150px;

    h2 {
        text-align: center;
        margin-bottom: 30px;
        color: var(--primary);
    }

    .container-chitietcongviec {
        padding: 30px 100px;
        box-shadow: var(--box-shadow-1);
    }

    .container-vieclamtuongtu {
        margin-top: 50px;
    }

    >div {
        margin-top: 30px;
    }

    p {
        font-size: 14px;
        line-height: 4rem;
    }
}