.container-header {
    display: flex;
    justify-content: space-between;

    .info {
        display: flex;
        margin-bottom: 30px;

        .title {
            margin-left: 15px;
            font-weight: 700;
            display: flex;
            align-items: center;
        }

        .icon {
            display: flex;
            width: 30px;
            color: var(--primary);
        }
    }

    .wrapper-toolbar {
        display: flex;
    }

}

.container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-item {
    display: grid;

    .btnDetail {
        margin-bottom: 5px;

    }
}