.breadcrumb {
    margin-bottom: 30px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .info {
        display: flex;
        margin-bottom: 30px;

        .title {
            margin-left: 15px;
            font-weight: 700;
            display: flex;
            align-items: center;
            max-width: 900px;
            line-height: 2;
            text-align: left;
        }

        .icon {
            display: flex;
            width: 30px;
            color: var(--primary);
        }
    }

    .wrapper-toolbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        >div {
            margin-bottom: 10px;
        }
    }

}

// list scientificResearch
.stt {
    color: var(--primary);
}

.name {
    font-weight: 400;
    font-size: 17px;
}

.container-deadline-register {
    font-style: italic;
    display: flex;
}

.card-DeTaiKhoaLuanThamGia {
    margin-bottom: 30px;
}

.title-model-register {
    margin-top: 10px;
}

.btn-cancel {
    color: red;
}

.action-item {
    display: grid;

    .btnDetail {
        margin-bottom: 5px;

    }
}

.tag-status {
    text-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    .container-header {
        flex-direction: column;
    }
}