.container-crud {
    border-radius: 10px;
    text-align: center;
    align-content: space-around;


    h2 {
        margin-bottom: 40px;
    }
}

.list-container-table-custom-ant {
    :global .ant-list-item {
        flex-direction: column !important;
        align-items: start !important;
        justify-content: flex-start !important;

        .status-table {
            width: fit-content !important;
        }

        .ant-list-item-action {
            width: 100%;
            display: grid;
            justify-content: flex-end;

            .list-item-action {
                margin-right: 10px;
            }
        }

        .ant-list-item-action-split {
            display: none;
        }

        .ant-input {
            width: fit-content;
        }
    }
}