.container-header {
    display: flex;
    justify-content: space-between;
    margin: 30px 15px 10px 0;

    .info {
        display: flex;
        margin-bottom: 30px;

        .title {
            margin-left: 15px;
            font-weight: 700;
            display: flex;
            align-items: center;
        }

        .icon {
            display: flex;
            width: 30px;
            color: var(--primary);
        }
    }

    .wrapper-toolbar {
        display: flex;
    }

}

// list scientificResearch
.stt {
    color: var(--primary);
}

.name {
    font-weight: 400;
    font-size: 17px;
}

.container-deadline-register {
    font-style: italic;
    display: flex;
}

.card-DeTaiNCKHThamGia {
    margin-bottom: 30px;
}

.tag-status {
    margin-left: 10px;
}

.action-item {
    display: grid;

    .btnDetail {
        margin-bottom: 5px;

    }
}