.wrapper {
    width: 20%;
    background-color: #272746;
    min-height: 563px;
}

.logo {
    border-radius: 999px;
    width: 100px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 30px;
    display: flex;
}