.info {
    display: flex;
    margin-bottom: 30px;
}

.title {
    margin-left: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: left;
}

.icon {
    display: flex;
    width: 30px;
    color: var(--primary);
}

.list-card {
    display: flex;

}

.chart {
    margin: 20px 10px;
}

@media only screen and (max-width: 768px) {
    .list-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}