.info {
    display: flex;
    margin-left: 35px;
    margin-top: -45px;
}

.title {
    display: flex;
    margin-bottom: 30px;
    margin-left: 20px;
    font-weight: 700;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
    color: var(--primary);
}

.wrapper {
    display: flex;
    margin-top: 15px;
}

.content-left {
    width: 45%;
    margin: 10px 30px;
}

.content-left-item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-right {
    width: 45%;
    border: 3px solid var(--primary);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--white);
    border-radius: 20px;
}

.info-item {
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.title-info,
.title-result {
    font-size: 1.5rem;
    font-weight: 600;
}

.value-info {
    margin-left: 15px;
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary);
    background-color: #a5bbf3;
    padding: 4px 12px;
    border-radius: 15px;
    width: 76px;
    text-align: center;
}

.result-right {
    border-top: 3px solid #a5bbf3;
    margin: 0 30px;
}

.result-item {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.value-result {
    margin-left: 20px;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--primary);

}