.title-column-table {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        margin-left: 15px;
    }
}

.container-stt {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}