.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .toolbar-left {
        display: flex;
        justify-content: center;
        align-items: flex-start;


    }
}

.container-header-frame-subject,
.item-frame-no-subject {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnDetail {
    margin-right: 5px;
}

.item-subject,
.title-frame {
    display: flex;
}

.dash {
    margin: 0 8px;
}

.description {
    font-weight: 300;
    font-size: 15px;
}

.creditHour {
    margin-left: 8px;
    color: var(--primary);
}