.wrapper-button {
    width: 4.5rem;
    height: 4.5rem;
    padding: 8px;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--blue-900);
    background-color: #a5bbf3;

    &:hover {
        background-color: rgb(180, 193, 245);
        box-shadow: var(--box-shadow-hover-button);
    }
}

.wrapper-toolbar+.wrapper-toolbar {
    margin-left: 20px;
}

.icon {
    color: var(--blue-900);
}