.container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

// .container-table {
//     box-shadow: var(--box-shadow-1) !important;
//     border-radius: 17px !important;
// }

// .radio-period {
//     cursor: pointer;
// }

// /* New styles for the checkbox */
// .ant-checkbox-checked .ant-checkbox-inner {
//     background-color: #1890ff;
//     border-color: #1890ff;
// }

// .ant-checkbox-checked .ant-checkbox-inner::after {
//     border-color: #000000;
// }

// /* Hover effect for the checkbox */
// .ant-checkbox:hover .ant-checkbox-inner {
//     border-color: #40a9ff;
// }

// /* Disabled state for the checkbox */
// .ant-checkbox-disabled .ant-checkbox-inner {
//     background-color: #9b4f4f;
//     border-color: #d9d9d9 !important;
// }

// .ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner::after {
//     border-color: rgb(0, 0, 0);
// }

// .radio-check {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

td {
    background-color: inherit;
}

th {
    color: var(--color-text-base) !important;
}

// :root {
//     --color-background: #102539; // Nền chính
//     --color-text: #ffffff; // Màu chữ
//     --color-border: #333333; // Màu viền
//     --color-subject-open: #2b6cb0; // Màu cho môn học mở
//     --color-subject-correct: #2f855a; // Màu đúng
//     --color-subject-error: #c53030; // Màu lỗi
// }

// .container-table {
//     background-color: var(--color-background);
//     color: var(--color-text);

//     .MuiTableCell-root {
//         background-color: var(--color-background);
//         color: var(--color-text);
//         border-color: var(--color-border);
//     }

//     .title {
//         font-weight: bold;
//         color: var(--color-text);
//         background-color: var(--color-background);
//     }
// }

// .radio-check {
//     display: flex;
//     align-items: center;
//     gap: 8px;

//     .MuiRadio-root {
//         color: var(--color-text);
//     }
// }

// .container-loading {
//     background-color: var(--color-background);
//     color: var(--color-text);
// }

.loader {
    --background: linear-gradient(135deg, #23C4F8, #275EFE);
    --shadow: rgba(39, 94, 254, 0.28);
    --text: #6C7486;
    --page: rgba(255, 255, 255, 0.36);
    --page-fold: rgba(255, 255, 255, 0.52);
    --duration: 3s;
    width: 200px;
    height: 140px;
    position: relative;
}

.loader:before,
.loader:after {
    --r: -6deg;
    content: "";
    position: absolute;
    bottom: 8px;
    width: 120px;
    top: 80%;
    box-shadow: 0 16px 12px var(--shadow);
    transform: rotate(var(--r));
}

.loader:before {
    left: 4px;
}

.loader:after {
    --r: 6deg;
    right: 4px;
}

.loader div {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    perspective: 600px;
    box-shadow: 0 4px 6px var(--shadow);
    background-image: var(--background);
}

.loader div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.loader div ul li {
    --r: 180deg;
    --o: 0;
    --c: var(--page);
    position: absolute;
    top: 10px;
    left: 10px;
    transform-origin: 100% 50%;
    color: var(--c);
    opacity: var(--o);
    transform: rotateY(var(--r));
    -webkit-animation: var(--duration) ease infinite;
    animation: var(--duration) ease infinite;
}

.loader div ul li:nth-child(2) {
    --c: var(--page-fold);
    -webkit-animation-name: page-2;
    animation-name: page-2;
}

.loader div ul li:nth-child(3) {
    --c: var(--page-fold);
    -webkit-animation-name: page-3;
    animation-name: page-3;
}

.loader div ul li:nth-child(4) {
    --c: var(--page-fold);
    -webkit-animation-name: page-4;
    animation-name: page-4;
}

.loader div ul li:nth-child(5) {
    --c: var(--page-fold);
    -webkit-animation-name: page-5;
    animation-name: page-5;
}

.loader div ul li svg {
    width: 90px;
    height: 120px;
    display: block;
}

.loader div ul li:first-child {
    --r: 0deg;
    --o: 1;
}

.loader div ul li:last-child {
    --o: 1;
}

.loader span {
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 20px;
    text-align: center;
    color: var(--text);
}

@keyframes page-2 {
    0% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    35%,
    100% {
        opacity: 0;
    }

    50%,
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-3 {
    15% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }

    65%,
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-4 {
    30% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    65%,
    100% {
        opacity: 0;
    }

    80%,
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-5 {
    45% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    80%,
    100% {
        opacity: 0;
    }

    95%,
    100% {
        transform: rotateY(0deg);
    }
}