.wrapper {
    margin: 0 15px 0 15px;
    height: calc(100% - 80px);
}

// INFO
.info {
    display: flex;
    margin-bottom: 30px;
}

.title {
    margin-left: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    width: 30px;
    color: var(--primary);
}

// 
.select-time {
    margin-bottom: 50px;
}

.select-time,
.select-time div {
    display: flex;
    align-items: center;
}

.select-time>div>div {
    margin: 0 10px;
}