.wrapper {
    display: flex;
    padding-top: 20px;

    .container-title {
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
        align-items: center;
    }
}

.container-system {
    width: 50%;

    h3 {
        margin-left: 20px;
    }
}



.container-follower {
    width: 55%;
    border-left: 2px solid var(--text-gray-color);
    padding-left: 50px;
}

.container-follower-detail,
.container-system-detail {
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: var(--box-shadow-1);
}

.container-follower-detail {
    background-color: var(--blue-100);
}

.container-system-detail {
    border: 2.5px solid var(--blue-100);

    h4 {
        margin: 4.5px 0;
    }
}

.user-follower {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}