.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 4px;
    color: var(--text-gray-color);
    transition: background-color ease-in-out 200ms;

    &.active {
        color: var(--white);
        background-color: var(--primary);

        .icon {
            display: none;
        }

        .active-icon {
            display: flex;
        }
    }

    &:hover {
        background-color: rgba(51, 112, 255, 0.9);
        color: var(--white);

    }
}

.title {
    margin-left: 10px;
}

.icon,
.active-icon {
    display: flex;
}

.active-icon {
    display: none;
}