h3 {
    text-align: center;
}

.info {
    display: flex;
    margin-bottom: 30px;
}

.title {
    margin-left: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    width: 30px;
    color: var(--primary);
}

.list-card {
    display: flex;

}

.container-chart {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.circle-chart {
    display: flex;
    justify-content: space-around;
    margin: 70px 0;
}