h3 {
    text-align: center;
}

.info {
    display: flex;
    margin-bottom: 30px;
}

.title {
    margin-left: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: left;
}

.icon {
    display: flex;
    width: 30px;
    color: var(--primary);
}

.list-card {
    display: flex;

}

// .container-chart {
//     margin: 20px 0;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     width: 80%;
// }

// .chart {
//     display: flex;
// }

// .circle-chart {
//     display: flex;
//     justify-content: space-around;
//     margin: 70px 0;
// }
.groupSta {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    align-items: center;
}

.container-title {
    margin: 25px 0;
    background-color: #f6ffed;
    padding: 20px 50px;
    color: #389e0d;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    box-shadow: var(--box-shadow-3);
}

@media only screen and (max-width: 768px) {

    .list-card,
    .groupSta {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}